html {
	font-size: 16px;
}	
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
html, body {
	height: 100%;
}
body {
	font-family: 'Comfortaa';
}	
.wrapper {
	height: 100%
}
.all {
	min-height: 100%;
	margin-bottom: -50px;
}
article {
	padding-bottom: 50px;
}
header.header_group {
	margin: 0;
}
.logo {
	color: white;
	padding-left: 60px;
}
h1 {
	font-size: 2rem;
	font-weight: 300;
	margin: 10px 0px;
	color: white;
	display: inline-block;
}
#inputCityName {
	display: inline-block;
	vertical-align: middle;
	border: none;
	padding-left: 10px;
	margin-top: 20px;
	border-radius: 10px;
	background: rgb(240,237,226);
	background: -moz-linear-gradient(45deg, rgb(240,237,226) 0%, rgb(227,224,216) 16%, rgb(236,233,223) 32%, rgb(218,215,210) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(240,237,226)), color-stop(16%, rgb(227,224,216)), color-stop(32%, rgb(236,233,223)), color-stop(100%, rgb(218,215,210)));
	background: -webkit-linear-gradient(45deg, rgb(240,237,226) 0%, rgb(227,224,216) 16%, rgb(236,233,223) 32%, rgb(218,215,210) 100%);
	background: -o-linear-gradient(45deg, rgb(240,237,226) 0%, rgb(227,224,216) 16%, rgb(236,233,223) 32%, rgb(218,215,210) 100%);
	background: -ms-linear-gradient(45deg, rgb(240,237,226) 0%, rgb(227,224,216) 16%, rgb(236,233,223) 32%, rgb(218,215,210) 100%);
	background: linear-gradient(45deg, rgb(240,237,226) 0%, rgb(227,224,216) 16%, rgb(236,233,223) 32%, rgb(218,215,210) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ede2', endColorstr='#dad7d2', GradientType=1 );
}
#btnGetWeather {
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;
	color: white;
	background: #3b67bf;
	border: 1px outset buttonface;
	border-radius: 10px;
}
#btnGetWeather:hover {
	color: #b2b3b6;
}
#btnGetWeather:active {
	border: 1px inset buttonface;
}
.top-menu {
	display: inline-block;
	vertical-align: middle;
}
ul.menu {
    list-style: none;
    display: table;
    margin-top: 25px;
    vertical-align: middle;
}
ul.menu li {
	display: table-cell;
	padding-left: 20px;
}
ul.menu li:last-child {
	border: none;
}
ul.menu li a {
	text-decoration: none;
	color: #fff;
}
ul.menu li a:hover {
	text-decoration: underline;
}
ul.menu li a:active {
	text-decoration: underline;
	color: #b2b3b6;
}
.wrapper {
	min-height: 100%;
}
.header_group {
	background:  url(../images/Logoicon.png) 100% 60% no-repeat #0a3a82;
	display: inline-block;
	width: 100%;
}

/* === Таблиця погоди === */
.forecast-wrapper {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
    width: 100%;
    max-width: 82.667em;
}
div.row {
	margin-left: 0;
}
div.today {
	color: #7d7e7e;
	font-size: 1.2em;
}
#location {
	font-size: 1em;
	font-weight: bold;	
}
span #today-date {
	font-weight: 300;
}
.forecast-wrapper ul.condition-today {
	list-style-type: none;
	float: left;
	width: 20%;
	position: relative;
    left: 135px;
    top: -20px;
}
.forecast-wrapper ul.condition-today li {
    vertical-align: middle;
    margin-bottom: 5px;
 }
 #temp {
 	font-size: 2em;
 	font-weight: 300;
 }
 #temp::before {
 	content: "";
 	width: 20px;
    height: 25px;
    margin-top: 12px;
    margin-right: 5px;
    float: left;
 	background: url("../images/thermometer.png") no-repeat;
 }
 #pressure::before {
 	content: "";
 	width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
 	background: url("../images/Pressure.png") no-repeat;
 }
 #humidity::before {
 	content: "";
 	width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
 	background: url("../images/drop.png") no-repeat;
 }
 #wind::before {
 	content: "";
 	width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
 	background: url("../images/wind.png") no-repeat;
 }
 ul.temp-today {
   	display: inline-block;
 	list-style-type: none;
 	margin-top: 8px;
 }
 ul.temp-today li {
 	float: left;
 	position: relative;
 	margin-left: 15px;
    top: -25px;
    left: 50px;
 	width: 15%;
 }
 #morning::before {
 	content: "ранок: ";
 }
 #noon::before {
 	content: "обід: ";
 }
 #eve::before {
 	content: "вечір: ";
  }
 #night::before {
 	content: " ніч: ";
 }
 .list-wrapper {
 	position: relative;
	width: 100%;
    height: 250px;
    overflow: hidden;
}
.forecast-wrapper ul.next-days {
	position: relative;
	left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
    width: 300%;
    height: 200px;
}
.forecast-wrapper ul.next-days li {
	padding-top: 25px;
    width: 6.66%;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    float: left;
    text-align: center;
}
.forecast-wrapper ul.next-days li span {
    display: block;
    color: white;
}
.forecast-wrapper ul.next-days li:nth-child(5n+1) {
	background-color: #2847a3;
}
.forecast-wrapper ul.next-days li:nth-child(5n+2) {
	background-color: #28428b;
}
.forecast-wrapper ul.next-days li:nth-child(5n+3) {
	background-color: #254688;
}
.forecast-wrapper ul.next-days li:nth-child(5n+4) {
	background-color: #3965bc;
}
.forecast-wrapper ul.next-days li:nth-child(5n+5) {
	background-color: #3871bc;
}
.icon {
	padding-top: 1.4em;
}
.forecast-wrapper .icon {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		font-size: 1.5em;
}	
.navigator {
	list-style-type: none;
	width: 200px;
	margin: 10px auto;
}
.navigator li {
	float: left;
	cursor: pointer;
	width: 30%;
	height: 20px;
	color: gray;
}
.navigator li::before {
	content: url("../images/navGreybtn.png");
	width: 15px;
	height: 15px;
}
.navigator li.active::before {
	content: url("../images/navBluebtn.png");
	color: #fff;
	width: 15px;
	height: 15px;
}	
.last-element {
	background-color: #7d7e7e;
	color: #2847a3;
	padding-left: 50px;
	line-height: 50px;
}
